# --- Python y Entornos Virtuales ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# --- Base de Datos (Seguridad) ---
*.sqlite3
*.db

# Variables de entorno para contraseñas
.env

# --- Archivos de Sistema ---
.DS_Store
Thumbs.db

# --- Archivos del proceso ETL (Evita subir datos sensibles) ---
/uploads/
/data/temp/
*.csv
*.xlsx

# --- Google Drive Temporales ---
.tmp.driveupload/
*.driveupload
*.*.driveupload
.google.drive.db